.example-container {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-width: 500px;
    overflow: auto;
    margin: 100px 200px 200px 250px;
  }
  
  .IdPiece-col{
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
.lineChart{
  position:absolute; 
  top:500px; 
  left:200px;
  width: 800px ; 
  height: 450px ; 
  
}