<!--<h5>All Products</h5>
<div class="Cls"><span class="s1"> Id piéce</span> <span class="s2">Designiation</span> <span class="s2">poids</span>  <span class="s2">prix</span> <span class="s2">quantité</span> <br> <br> </div>
<div *ngFor="let pieces of pieces" class="container" >
  <a [routerLink]="['/pieces', pieces.IdPiece]" style="color:black">
    <div class="Cls"><span class="badge badge-dark">{{pieces.IdPiece}}</span> -> <span class="s1">{{ pieces.DesignP }} </span><span class="s1">{{ pieces.Poids }}</span> <span class="s1"> {{ pieces.Prix_p }}</span> <span class="s1"> {{ pieces.Qte_p }} </span>  </div>
          </a>
</div>-->


<div class="example-container mat-elevation-z8">
<mat-form-field>
  <input matInput  placeholder="Filter">
</mat-form-field>
  <table mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="IdPiece">
      <th mat-header-cell *matHeaderCellDef> id piéce  </th>
      <td mat-cell *matCellDef="let element" class="IdPiece-col"> {{element.IdPiece}} </td>
    </ng-container>
    
    <ng-container matColumnDef="DesignP">
      <th mat-header-cell *matHeaderCellDef> Designation piéce  </th>
      <td mat-cell *matCellDef="let element"> {{element.DeisgnP}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Poids">
      <th mat-header-cell *matHeaderCellDef> poids de la piéce    </th>
      <td mat-cell *matCellDef="let element"> {{element.Poids}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="Prix_p">
      <th mat-header-cell *matHeaderCellDef> Prix de la piéce  </th>
      <td mat-cell *matCellDef="let element"> {{element.Prix_p}} </td>
    </ng-container>

    <ng-container matColumnDef="Qte_p">
      <th mat-header-cell *matHeaderCellDef> Quantitée stock   </th>
      <td mat-cell *matCellDef="let element"> {{element.Qte_p}} </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"[routerLink]="['/pieces', row.IdPiece]"  ></tr>
  </table>
</div>


