 /*body {

  font-family: "Century Gothic" , Verdana, sans-serif;  
 background-image: url("E:\auto.jpg"); 
  opacity:0.75;
  background-repeat: no-repeat;
  /*background-attachment: scroll; 
  position: absolute; 
  background-position: top center  ; 
  background-color: black ; 
  min-width: 100%; 
  min-height: 100%; 
  height: auto ;
  width:   auto ; 

}*/