<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">
                Profile 
            </h1>

        </div>
        <table class="table col-md-6 mx-auto">

            <tr>
                <td>Psodo </td>
                <td>{{details?.username}}</td>
           </tr>
           
            <tr>
                <td>
                 Email Adress 
                </td>
                <td>{{details?.Email}}</td>
            </tr>
            
            <tr>
                    <td>Service </td>
                    <td>{{details?.service}}</td>
            </tr>

        </table>
    </div>
</div>