<h4 class="titre"><span class="badge badge-light ">{{client.IdClient}}</span> -> {{client.NomCl}} {{client.PrenomCl}}</h4>


<div [hidden]="submitted" class="container1">
    <form #detailClientForm="ngForm">
 
  <div class="form-group">
        <label for="IdClient">Id du  client </label>
        <input type="number" class="form-control" id="clientIdClient" placeholder="Give Product's IdClient"
        required
        [(ngModel)]="client.IdClient" name="IdClient" #IdClient="ngModel">
        <div [hidden]="IdClient.valid || IdClient.pristine"
             class="alert alert-danger">
             Id Client est obligatoire 
        </div>
    </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" placeholder="Give product's Etat_cmd" 
        required
        [(ngModel)]="client.Email" name="Email" #Email="ngModel">
        <div [hidden]="Email.valid || Email.pristine"
             class="alert alert-danger">
             Email  est obligatoire 
        </div>
      </div>
      <div class="form-group">
        <label>Prénom  </label>
        <input type="text" class="form-control" id="fisrt_name" placeholder="Enter Fisrt name " 
        required
        [(ngModel)]="client.PrenomCl" name="PrenomCl" #PrenomCl="ngModel"> 
        <div [hidden]="PrenomCl.valid || PrenomCl.pristine"
             class="alert alert-danger">
           Prénom  est obligatoire 
        </div>
      </div>
      
        <div class="form-group">
            <label>Nom   </label>
            <input type="text" class="form-control" id="NomCl" placeholder="Enter Last name " 
            required
            [(ngModel)]="client.NomCl" name="NomCl" #NomCl="ngModel"> 
        <div [hidden]="NomCl.valid || NomCl.pristine"
                 class="alert alert-danger">
               Nom est obligatoire 
        </div>
          </div>
        
        <div class="form-group">
            <label>Adresse </label>
            <input type="text" class="form-control" id="AdressCl" placeholder="Enter AdressCl " 
            required
            [(ngModel)]="client.AdressCl" name="AdressCl" #AdressCl="ngModel"> 
            <div [hidden]="AdressCl.valid || AdressCl.pristine"
                 class="alert alert-danger">
                 Adress Cl  est obligatoire 
           </div>
        </div>
        
        <div class="form-group">
            <label>Type  </label>
            <input type="text" class="form-control" id="Type" placeholder="Enter Type" 
            required
            [(ngModel)]="client.Type" name="Type" #Type="ngModel"> 
            <div [hidden]="Type.valid || Type.pristine"
                 class="alert alert-danger">
               Type est obligatoire 
            </div>
              
        </div>
             
        
        <div class="form-group">
            <label>Etat Client  </label>
            <input type="text" class="form-control" id="EtatCl" placeholder="Enter EtatCl " 
            required
            [(ngModel)]="client.EtatCl" name="EtatCl" #EtatCl="ngModel"> 
            
            <div [hidden]="EtatCl.valid || EtatCl.pristine"
                 class="alert alert-danger">
                 EtatCl  est obligatoire
            </div>

        </div>
        
        

        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-dark" (click)="goBack()">Retour </button>
            <button type="button" class="btn btn-dark" (click)="update()" [disabled]="!detailClientForm.form.valid">Modifier </button>
            <button type="button" class="btn btn-dark" (click)="delete()">Supprimer </button>
        </div>
      </form>
    </div>
    
<div class="chart"><canvas id="pieChart" width="800" height="450" > 
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
</canvas>
</div>


<div [hidden]="!submitted" class="container1">
        <p>{{message}}</p>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-dark" (click)="goBack()">Retour </button>
      </div>
  
</div>